* {
  padding: 0px;
  margin:0px;
}

nav {
  background-color: lightgray;
  width: 1480px;
  height: 40px;
  position: absolute;
  left: 400px;
  padding-left: 40px;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-right: 100px;
  list-style: none;
  position: relative;
  font-size: 21px;
  font-weight: 600;
  color: #555555;
  top: 5px;
}

nav ul li:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.2em;
}

.Login {
  font-size: 11px;
  width: 60px;
  height: 15px;
  text-align: center;
  background-color: white;
  color: deepskyblue;
  border: solid 1px deepskyblue;
  border-radius: 5px;
  position: relative;
  left: 600px;
  top: 12px;
}