<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../styles/home_style.css">
</head>

<body>
  <div class="background_1">bk_1</div>
  <div class="background_2">bk_2</div>
  <div class="background_3">bk_3</div>
  <nav>
    <ul>
      <li>Home</li>
      <li>Chart</li>
      <li>Docs</li>
      <li>Contact</li>
      <p class="Login">Login</p>
    </ul>
  </nav>
</body>

</html>