body{
    margin: 0;
}

header{
    background-color: rgb(78, 78, 78);
    position: relative;
}
.logo{
    background-color: #cccccc;
    position: absolute;
    display: inline-flex;
}
nav{
    background-color: #999999;
    left: 50%;
    display: inline-flex;
}
a{
    text-decoration: none;
    color:rgb(78, 78, 78);
}

div{
    background-color: rgb(196, 196, 196);
}

main{
    background-color: #6d6d6d;
}

ul{
    list-style: none;

}