<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>차트구현 프로젝트</title>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>

  <body>
    <div class="root">
      <header>
        <div class="logo-wrapper">
          <div class="logo">RaonChart</div>
        </div>
        <nav>
          <ul>
            <li class="list cur_display"><a href="#">Home</a></li>
            <li class="list"><a href="#">Chart</a></li>
            <li class="list"><a href="#">Docs</a></li>
            <li class="list"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="dashboard">
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
          <div>img</div>
        </div>
      </main>
    </div>
  </body>
</html>
