<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>차트구현 프로젝트</title>
  <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
  <header>
    <div class="logo">RaonChart</div>
    <nav>
      <ul>
        <li class="list"><a href="#">Home</a></li>
        <li class="list"><a href="#">Chart</a></li>
        <li class="list"><a href="#">Docs</a></li>
        <li class="list"><a href="#">Contact</a></li>
      </ul>
      <p class="login"><a href="#">Login</a></p>
    </nav>
    <div class="backsquare"></div>
  </header>

  <main>
    <div class="grid">
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
      <img src="/assets/images/image.png" alt="공룡이미지" class="animal" />
    </div>
  </main>
</body>

</html>