<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>차트구현 프로젝트</title>
    <link rel="stylesheet" href="../styles/sub_chart.css" />
  </head>

  <body>
    <div id="root">
      <div class="wrap">
        <header>
          <div class="box-left">
            <button class="sideBtn">=</button>
          </div>

          <nav class="navbar">
            <div>
              <div class="logo">RaonChart</div>
              <ul class="nav-ul">
                <li class="nav-list"><a href="#">Home</a></li>
                <li class="nav-list cur_display"><a href="#">Chart</a></li>
                <li class="nav-list"><a href="#">Docs</a></li>
                <li class="nav-list"><a href="#">Contact</a></li>
              </ul>
            </div>
          </nav>

          <div class="box-right">
            <button class="optBtn">=</button>
          </div>
        </header>

        <nav class="sidebar">
          <ul class="side-ul"></ul>
        </nav>

        <main>
          <div class="chart">
            <p class="chart-ex">TEXT~~~~~~</p>
            <div class="chart-source">Chart</div>
          </div>
        </main>

        <div class="chartOption">
          <p class="option">Option</p>
          <form action="#" name="font" method="GET">
            <fieldset>
              <div class="box">
                Font Style <div><input type="text" name="style" /></div>
                Font Size <div><input type="number" name="size" /></div>
                Font Weight <div><input type="text" name="weight" /></div>
              </div>
            </fieldset>
          </form>
          <form action="#" name="data" method="GET">
            <fieldset>
              <div class="box">
                Data 1 <div><input type="text" name="data" /></div>
                Data 2 <div><input type="text" name="data" /></div>
                Data 3 <div><input type="text" name="data" /></div>
                Data 4 <div><input type="text" name="data" /></div>
              </div>
            </fieldset>
          </form>
          <form action="#" name="color" method="GET">
            <fieldset>
              <div class="box">
                <div class="color-chart"></div>
                Chart Color 1 <div><input type="text" name="data" /></div>
                Chart Color 2 <div><input type="text" name="data" /></div>
                Chart Color 3 <div><input type="text" name="data" /></div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <script src="../javascripts/sub_chart_btn.js"></script>
    <script src="../javascripts/sub_chart_list.js"></script>
  </body>
</html>
