body {
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.chartWrap {
  display: grid;
  grid-template-columns: max-content auto max-content;
  height: 100%;
}

.mainHeader {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 3fr;
  grid-template-rows: 1fr 6fr;
  background-color: #6d6d6d;
  color: #686767;
}

.chartHeader {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 200px auto 50px;
  position: sticky;
  grid-column: 1 / 4;
  grid-template-columns: 200px auto 50px;
  top: 0;
  width: 100vw;
  height: 45px;
  margin: 0;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: linear-gradient(to right, #cfcfcf 50%, #6e6e6e 50%);
}

.logo-wrapper .mainLogo {
  padding: 1rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: #4e4e4e;
}

nav {
  background-color: #cfcfcf;
}

.mainNav {
  display: flex;
  justify-content: space-between;
}

.navbar > div {
  display: flex;
}

.navbar > div .chartLogo {
  margin-right: 10px;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #4e4e4e;
}

button {
  margin: 8px;
}

.box-left {
  background-color: #cfcfcf;
}

.box-right {
  background-color: #cfcfcf;
}

ul {
  margin: 0;
  list-style: none;
  color: #686767;
}

.mainNav .main-ul {
  padding: 0.3em 0;
}

.navbar .nav-ul {
  padding: 0.75rem 0;
}

li {
  font-weight: 700;
}

.mainNav .main-ul .list {
  display: inline;
  margin: 0 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

nav ul .cur_display {
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid;
}

.mainNav .main-ul .list:hover {
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid;
}

.navbar .nav-list {
  display: inline;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar .nav-list:hover {
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid;
}

.sidebar {
  position: sticky;
  top: 45px;
  width: 200px;
  height: calc(100vh - 45px);
  overflow-y: auto;
  transition: all 150ms;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.side-ul {
  padding: 0;
}

.side-list {
  padding: 5px 0;
  text-align: center;
  border: 2px solid #cfcfcf;
  background-color: #ffffff;
}

main {
  padding: 2.5rem;
  background-color: #9b9b9b;
}

main .dashboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.6rem;
}

main .dashboard > div {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 100%;
}

main .dashboard > img:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 100%;
}

main .dashboard > img:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
  width: 100%;
}

.chart {
  height: 100%;
  width: 99%;
}

.chartOption {
  position: sticky;
  top: 45px;
  width: 250px;
  height: calc(100vh - 45px);
  overflow-y: auto;
  background-color: #505050;
  transition: all 150ms;
}

.chartOption::-webkit-scrollbar {
  display: none;
}

.option {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

fieldset {
  margin: 0 1rem 1.5rem;
  border-style: none;
  background-color: #cfcfcf;
}

.chartOption .box {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  text-align: left;
}

.chartOption .box > div {
  margin: 5px 0;
}

.chart_ex {
  height: 10%;
  background-color: #ffffff;
  padding: 0.5rem;
}

.ag_grid {
  margin-bottom: 1em;
  height: 20%;
  background-color: #ffffff;
  transition: all 150ms;
}

.ag_grid_off {
  height: 0;
}

.createChart {
  height: 65%;
  background-color: #ffffff;
  transition: all 150ms;
}

.createChart_up {
  height: 85%;
}

.color-chart {
  margin-bottom: 15px;
  height: 150px;
  background-color: #686767;
}

.--close {
  width: 0;
}

.image {
  width: 100%;
  height: 100%;
}
