body {
  margin: 0;
  padding: 0;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  overflow: hidden;
  background-color: #979797;
}

.logoback {
  background-color: linear-gradient(
    rgb(207, 207, 207) 50%,
    rgb(78, 78, 78) 50%
  );
}

.logo {
  margin: auto;
  padding: 10px;
  background-color: rgb(78, 78, 78);
  font-size: 30px;
}

nav {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-content: center;
  left: 25%;
  width: 75%;
  background-color: rgb(207, 207, 207);
}

nav ul {
  margin: auto 0;
  padding: 0;
}

nav ul .list {
  display: inline-flex;
  text-align: center;
  margin: 10px 20px;
}

nav ul .list a {
  margin: 0;
  padding: 0;
  color: rgb(90, 78, 78);
}

nav .login {
  display: inline-flex;
  color: deepskyblue;
}

.backsquare {
  display: flex;
  width: 15%;
  background-color: rgb(207, 207, 207);
}

main {
  margin: 0;
  padding: 40px;
  height: 500px;
  background-color: #6d6d6d;
}

main .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  object-fit: fill;
  gap: 10px;
  margin: 0 auto;
  min-width: 100%;
  max-height: 100%;
}

main .grid .chart-img {
  width: auto;
  background-color: #fff;
}

main .grid .chart-img:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

main .grid .chart-img:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}
