body {
  display: grid;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 300px;
  background-color: #6d6d6d;
}

.logoback {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #cfcfcf 50%, #6e6e6e 50%);
}

.logo {
  padding: 10px;
  background-color: #4e4e4e;
  font-size: 30px;
}

nav {
  display: flex;
  background-color: #cfcfcf;
}

nav ul {
  margin: auto 0;
  padding: 0;
  list-style: none;
}

nav ul .list {
  display: inline;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

nav ul .cur_display {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

nav ul .list:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

nav .login {
  text-align: center;
  border: solid 1px #00aeff;
  border-radius: 5px;
  font-size: 12px;
  background-color: #ffffff;
}

.button {
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: #525252;
  color: #ffffff;
}

main {
  padding: 40px;
  background-color: #9b9b9b;
}

main .dashboard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

main .dashboard > div {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 100%;
}

main .dashboard > div:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

main .dashboard > div:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}
