body {
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: grid;
  grid-template-columns: max-content auto max-content;
  height: 100%;
}

header {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 200px auto 50px;
  position: sticky;
  grid-column: 1 / 4;
  grid-template-columns: 200px auto 50px;
  top: 0;
  width: 100vw;
  height: 45px;
  margin: 0;
}

nav {
  background-color: #cfcfcf;
}

.navbar > div {
  display: flex;
}

.box-left {
  background-color: #cfcfcf;
}

.box-right {
  background-color: #cfcfcf;
}

button {
  margin: 8px;
}

.navbar .logo {
  margin-right: 10px;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #4e4e4e;
}

.navbar .nav-list {
  display: inline;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar .nav-ul {
  padding: 0.75rem 0;
}

li {
  font-weight: 700;
}

.navbar .cur_display {
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid;
}

.navbar .nav-list:hover {
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid;
}

.sidebar {
  position: sticky;
  top: 45px;
  width: 200px;
  height: calc(100vh - 45px);
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

ul {
  margin: 0;
  list-style: none;
  color: #686767;
}

.side-ul {
  padding: 0;
}

.side-list {
  padding: 5px 0;
  text-align: center;
  border: 2px solid #cfcfcf;
  background-color: #ffffff;
}

main {
  padding: 2.25rem;
  background-color: #9b9b9b;
}

.chart {
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}

.chart-source {
  background-color: #ffffff;
}

#chartOption {
  position: sticky;
  top: 45px;
  width: 250px;
  height: calc(100vh - 45px);
  overflow-y: auto;
  background-color: #505050;
}

#chartOption::-webkit-scrollbar {
  display: none;
}

.option {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

fieldset {
  margin: 0 1rem 1.5rem;
  border-style: none;
  background-color: #cfcfcf;
}

#chartOption .box {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  text-align: left;
}

#chartOption .box > div {
  margin: 5px 0;
}

.color-chart {
  margin-bottom: 15px;
  height: 150px;
  background-color: #686767;
}