body {
  margin: 0;
  height: 100vh;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: grid;
  grid-template-columns: minmax(150px, 0.5fr) 3fr minmax(250px, 0.5fr);
  height: 100%;
}

nav {
  background-color: #cfcfcf;
}

.sidebar {
  overflow: auto;
}

button {
  margin: 8px;
}

ul {
  margin: 0;
  list-style: none;
  color: #686767;
}

.side-ul {
  padding: 2rem 0;
}

li {
  font-weight: 700;
}

.side-list {
  padding: 5px 0;
  text-align: center;
  border: 2px solid #cfcfcf;
  background-color: #ffffff;
}

.grid {
  display: grid;
  grid-template-rows: 0.1fr 3fr;
}

header {
  margin: 0;
}

.navbar {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}

.navbar .logo {
  margin-right: 10px;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #4e4e4e;
}

.navbar .nav-list {
  display: inline;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar .nav-ul {
  padding: 0.75rem 0;
}

.navbar ul .cur_display {
  border-bottom: 0.2rem solid;
  padding-bottom: 0.2rem;
}

.navbar ul .nav-list:hover {
  border-bottom: 0.2rem solid;
  padding-bottom: 0.2rem;
}

